/* Body settings */
body
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/* Row settings */
.row
{
    border: 3px solid #337ab7;;
    border-radius: 25px;
    background-color: #222222;
    padding: 20px;
    font-size: 20px;
    margin: 20px;
}
/* Jumbotron */
.jumbotron
{
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    color: #f7f7f7;
}
/* Navbar settings */
.navbar
{
    border: 3px solid #337ab7;;
    background-color: #222222;
    padding-right: 20px;
    position: fixed;
    width: 100%;
    color: #f7f7f7;
}
.navbar-inverse
{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.navbar-inverse .navbar-brand
{
    font-size: 30px;
    color: #f7f7f7;
}
.navbar-header
{
    padding-left: 5px;
}
.navbar-brand
{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: #f7f7f7;
    font-size: 30px;
}
.navbar .navbar-brand:hover
{
    padding-bottom: 40px;
    border-radius: 25px;
    background: #337ab7;
}
/* Page list links */
#pageList li a
{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #f7f7f7;
    font-size: 30px;
}
/* Icon list links */
#iconList li a
{
    color: #f7f7f7;
}
/* Navbar link hover */
.navbar-inverse .navbar-nav li a:hover
{
    border-radius: 25px;
    background: #337ab7;
}
/* PDF logo */
.fa-file-pdf-o
{
    color: #f7f7f7;
}
/* Certificate */
.certificate
{
    color: red;
}
.certificate:hover
{
    color: red;
}
/* Footer */
.resumeSidebar
{
    border: 3px solid red;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: #f7f7f7;
    text-align: center;
    background-color: #222222;
    font-size: 20px;
    position: fixed;
    top: 40%;
    padding: 12px;
}
/* Footer links */
.resumeSidebar a
{
    padding: 4px;
}
/* Footer link hover */
.resumeSidebar a:hover
{
    border-radius: 25px;
    background: red;
}
/* Picture settings */
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
h2
{
    color: #222222;
    text-align: center;
    text-decoration: underline;
}
h4
{
    text-align: center;
}
#verticalText
{
    line-height: 40%;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
#verticalText a
{
    text-decoration: none;
    color: #f7f7f7;
}
.anchor
{
    display: block;
    position: relative;
    top: -80px;
}
p
{
    text-indent: 50px;
}